*{
    margin: 0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}



body {
    /* background-color: blue; */
    height: 100vh;
    width:100vw;
    font-family: sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin:0;
}

.container{
    height: 100px;
    width: 100%;
   }
   
.navbar{
        width: 90%;
        height: 15vh;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 30px;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.5;
    cursor: default;
}
ul a{

    text-decoration: none;
    color: black;
}




.content p1{
    margin-left: 100px;
    font: size 15px;
    position: relative
}


input[type='radio'] {
  height: 18px;
  width: 18px;
  
 /* width: 10px;
  height: 10px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(61, 57, 57);
  content: ''
  display: inline-block;
  visibility: visible;*/
  /*border: 4px solid rgb(8, 7, 7);*/
}

input[type='radio']:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  top: 0px;
  left: -0.5px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid rgb(45, 203, 140);
}



  
input[type='checkbox'] {

  line-height: normal;
  width: 18px;
  height: 18px;
  background-color: #bbbfc4;
}



.agreement {
  display: flex;
  justify-items:start;
  align-items: start;
}

#agree {
  margin: 0 5px;       
}
/*.row-1 .send input[type="radio"] {
     width: 30px;
     height: 17px;
     accent-color: 3px greenyellow;
     border-radius: 50%;
     margin: 10px 15px 10px 0;
     cursor: pointer;
     position: relative;


}

.row-1 .send input[type="radio"]:checked::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    accent-color: green;
}*/


.row-1{
     background-color: white;
     padding: 30px 20px;
    width: 53%;
    margin-left: 90px;
    margin-top: 15px;
    transform: translate(-50% -50%);
    border: width 10px;
    border: 0.7px solid #dcdcdc;
    border-radius: 15px;
    height: 510px;
    transform: translate(-50% -50%);
    position: relative;
}
   .send form{
    margin-top: 1%;
   }

.send h{
    
    margin-top: 20px;
    
   }


   

   .send ol{
    /*display: inline;*/
    /*margin-right: 550px;
    margin-bottom: 80px;*/
    display: table;
    margin: 0 auto;
    text-align: left;
    align-items: center;
   }

  

   .send p{
    font-weight: 500;

   }
   

   .safaricom{
    max-width:100%;  
    height:auto; 
    width: 60px;
    cursor: pointer; 
    top: 30;
    right: 120px;
    position: absolute;
   }

   .airtel{
    max-width:100%;  
    height: auto; 
    width: 30px;
    cursor: pointer; 
    top: 40;
    right: 80px;
    position: absolute;
   }

   .telkom{
    max-width:100%;  
    height:auto; 
    width: 25px;
    cursor: pointer; 
    top: 40;
    right: 40px;
    position: absolute;
   }
   .row-1 send{
    position: relative;
   }

   .icons{
    max-width:100%;  
    height:auto; 
    width: 60px;
    cursor: pointer; 
    top: 90;
    right: 50px;
    position: absolute;

   display: flex;
   }

 /*.row{
        display: flex;
        /*justify-content: center;
        /*margin-top: 50px;*/
    
        /*border-radius: 0;*/
        /*height: 95px;*/
        /*width: 5%;
        align-items: center;
        margin-left: 200px;
 }*/
.row {
    /* display: flex; */
    /*justify-content: center;*/
    border: width 10px;
    margin-top: -512;
    border-radius: 10px;
    border: 0.7px solid #dcdcdc;
    height: 500px;
    width: 30% ; /*align-items: center;*/
    margin-left: 800;
    transform: translate(-50% -50%);
    position: relative;
    padding: 30px 20px;
    background-color: rgb(189, 185, 185);
}

  .summary {
    padding: 10px 0;
  }

  .packet-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 10px 0;
  }

  .duration-flex {
    display: flex;
   justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 10px 0;
  }
  .translations-flex {
    display: flex;
   justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 10px 0;
  }
  .discount-flex {
    display: flex;
   justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 10px 0;
  }
  .card-flex {
    display: flex;
   justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 10px 0;
  }
  .link-flex {
    display: flex;
   justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 10px 0;
  }
  .column-4 {
    float: right;
    border-radius: 0;
    height: 95px;
    display: flex;

  }

.btn{
  
   
    margin: 50px 0 0;
    width: 28%;
    height: 30px;
    background-color:rgb(4, 214, 148);
    border-radius: 20px; padding: 10px 10px;
    margin-top: 20px;
    margin-left: 800;
    border-width: 0px;
    color: white;

}
  
.arrow{
  float: right;
  color: white;
}

  .row-6 {
    display: flex;
    border: width 10px;
    margin-top: 0;

    border-radius: 0;
    height: 50px;
    width: 100%
    
  }
  
  .pay{
    position: absolute;
    margin-left: 290;
    margin-top: 10;
  }

  
  .did-floating-label-content { 
    position:relative; 
    margin-bottom:20px; 
  }
 

  .did-floating-label {
    color:#090a0b; 
    font-size:13px;
    font-weight: 530;
    position:absolute;
    pointer-events:none;
    left:15px;
    top:11px;
    padding:0 5px;
    background:#fff;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  } 

  .did-floating-input, .did-floating-select {
    font-size:12px;
    display:block;
    width:100%;
    height:36px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #bbbfc4;
    border-radius: 4px;
    box-sizing: border-box;
  }
    .focus{
      outline:none;
    }
      .did-floating-label{
        top:-8px;
        font-size:13px;
      }
  


      .email-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      .country, .email {
        width: 315px;
      }
      .mobile-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

       .city, .mobile{
        width: 315px;
      }

      .zip-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

       .zip, .adress{
        width: 315px;
      }
      .cvv-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

   

       .cvv, .date{
        width: 315px;
      }   
      
      .card{
        background-color:rgba(191, 188, 188, 0.687);
        background-image: url("../images/mastercard.svg");
      }
/*.togglePassword{
  margin-left: -30px; 
  cursor: pointer;
}*/



@media screen and (max-width: 640px) {
  .row-1{
    width: 100%;
  }
  .country, .email {
    width: 140px;
  }

  .city, .mobile{
    width: 140px;
  }
  .zip, .adress{
    width: 140px;
  }
  .cvv, .date{
    width: 140px;
  } 
  .row{
    width: 100%;
    margin-left: 357;
  } 
  .btn{
    margin-left:  270px;
    width: 500;
  } 
}

@media  screen and (max-width: 768px) {
  .row-1{
    width: 100%;
    
  }
  .country, .email {
    width: 180px;
  }
  .city, .mobile{
    width: 180px;
  }
  .zip, .adress{
    width: 180px;
  }
  .cvv, .date{
    width: 180px;
  } 
  .row{
    width: 100%;
    margin-top: 50;
    margin-left: 90;
  } 
  .btn{
    margin-left: 290;
    width: 350;
  } 
}

@media screen and (min-width: 1024px) {
  
  .row-1{
    width: 53%;
    margin-left: 90px;
  }
  .country, .email {
    width: 248px;
  }
  .city, .mobile{
    width: 248px;
  }
  .zip, .adress{
    width: 248px;
  }
  .cvv, .date{
    width: 248px;
  } 
  .row{
    width: 35%;
    margin-left: 650;
  } 
  .btn{
    margin-left: 690px; 
    width: 28%;
  } 
}

@media screen and (min-width: 1280px) {
  .row-1{
    width: 53%;
    margin-left: 90px;
  }
  .country, .email {
    width: 315px;
  }
  .city, .mobile{
    width: 315px;
  }
  .zip, .adress{
    width: 315px;
  }
  .cvv, .date{
    width: 315px;
  } 
  .row{
    width: 30%;
    margin-left: 788;
  } 
  .btn{
    margin-left: 800px; 
    width: 28%;
  } 

}

@media (min-width: 1536px) {
  
  .row-1{
    width: 53%;
    margin-left: 90px;
  }
  .country, .email {
    width: 385px;
  }
  .city, .mobile{
    width: 385px;
  }
  .zip, .adress{
    width: 385px;
  }
  .cvv, .date{
    width: 385px;
  } 
  .row{
    width: 30%;
    margin-left: 920;
  } 
  .btn{
    margin-left: 930px; 
    width: 28%;
  } 

}